body {
    margin: 0;
    font-family: sans-serif;
    flex: auto;
}

#bold {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#font {
    color: #f9faf8d5;
    font-size: 18px;
}

#title {
    color: #F9FAF8;
    font-size: 24px;
}

#promo {
    font-size: 20px;
    font-weight: bolder;
}

.hlinks {
    font-size: 18px;
    display: flex;
    gap: 12px;

}

a {
    text-decoration: none;
    color: #E5E7EB;

}

.iright>img {
    max-height: 300px;
    max-width: 500px;


}

#visit {
    max-width: 100px;
    max-height: 50px;
    padding: 5px;
    background-color: #3882F6;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #3882F6;
    border-radius: 10px;

}


.partone {
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;

}

.header {
    padding: 30px;
    display: flex;
    justify-content: space-between;

}

.intro {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.ileft {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}



.parttwo {
    padding: 40px;
    background-color: #ffffff;
    display: flex;
    gap: 16px;
    align-items: center;
    flex-direction: column;
}

.pic-container {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.pics {
    max-height: 200px;
    border-radius: 10px;
}

.border {
    border: 3px solid #3882F6;
}

.pack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: min-content;
    color: #525455;
}

.partthree {
    background-color: #E5E7EB;
    padding: 100px;
    color: #2e3c50fe;
    text-align: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

#author {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}


.banner {
    margin: 60px;
    padding: 40px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.753);
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bantitle {
    font-weight: bold;
    color: white;
    font-size: 18px;
}

#finalb {
    padding: 10px;
    background-color: #3882F6;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;

}



.footer {
    color: rgba(255, 255, 255, 0.753);
    padding: 20px;
    text-align: center;
    background-color: #1F2937;

}